ada/ada
ada/ada_target
boost_url/boost_url_target
boost_url/boost
curl/curl
curl/curl_target
furl/furl
hyperlink/hyperlink
libwget/libwget_target
libwget/wget2
rfc3986/rfc3986
urllib3/urllib3
yarl/yarl
